ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  
  
  

  
  ion-card{
    margin: auto;
    width: 100%;
    // border: 1px solid rgb(223, 8, 8);
    padding: 10px;
  
    --ion-background-color:  rgba(255, 255, 255, 0.877);
  }
  
  
  
  

  
  